<!--
# Alaska Data Integration working group - ADIwg

# REST endpoint controller for description of api

# History:
#  Stan Smith 2017-12-27 moved input textarea to top of page
#  Stan Smith 2017-12-27 reworded page text to support other than mdJson input
#  Stan Smith 2017-05-19 refactored v1 demo for v2
#  Stan Smith 2017-06-30 add buttons to insert mdJson or sbJson into JSON textarea
-->
<script type="text/javascript">
   function insertText(exampleCode) {
      if (exampleCode == 'mdJson') {
         var elem = document.getElementById('codeTextarea');
         var elemSource = document.getElementById('mdJsonExample');
      }
      if (exampleCode == 'fgdc') {
         var elem = document.getElementById('codeTextarea');
         var elemSource = document.getElementById('fgdcExample');
      }
      if (exampleCode == 'sbJson') {
         var elem = document.getElementById('codeTextarea');
         var elemSource = document.getElementById('sbJsonExample');
      }
      elem.innerHTML = elemSource.innerHTML;
   }
</script>

<h2 id="mainHeader">
	<%= image_tag "logo150.png", alt: "mdTranslator", class: "logo" %>
	<span>API</span>
	<span class="version">Demo V2</span>
</h2>

<div id="form_container">
	<%= form_tag((ENV['RAILS_RELATIVE_URL_ROOT'] ? ENV['RAILS_RELATIVE_URL_ROOT'] : "") + "/api/v2/translator", id: "submitJSON") do %>
		<div class="form_description">
			<h2>Submit metadata for translation</h2>
			<ol type="1">
				<li>Load an input metadata file. Modify if you like or paste your own. </li>
            <li>Select 'reader', 'writer', and any desired option. </li>
            <li>Click 'Submit' and translated metadata will be returned. </li>
            <li>For more info visit the
				<a href="http://www.adiwg.org/mdTranslator">mdTranslator website</a>. </li>
			</ol>
		</div>
		<ul>

         <li id="li_1">
            <p class="guidelines" id="guide_1">
            <label class="description" for="element_1">Input Metadata File Area</label><br>
               <small>CLICK</small>
               <input type="button" class="buttons" value="mdJson example" id="loadMdJson" onclick="insertText('mdJson');">
               <input type="button" class="buttons" value="fgdc example" id="loadFgdc" onclick="insertText('fgdc');">
               <input type="button" class="buttons" value="sbJson example" id="loadSbJson" onclick="insertText('sbJson');">
               <small>OR INSERT your metadata below ...</small>
            </p>
            <div>
               <textarea id="codeTextarea" name="file"></textarea>
            </div>
         </li>

         <textarea id="mdJsonExample" hidden><%= @mdJsonDemo %></textarea>
         <textarea id="fgdcExample" hidden><%= @fgdcDemo %></textarea>
         <textarea id="sbJsonExample" hidden><%= @sbJsonDemo %></textarea>

         <li id="li_2">
				<label class="description" for="element_2">Reader</label>
				<div>
					<select class="element select medium" id="element_2" name="reader">
                  <option value="mdJson" selected="selected">mdJson</option>
                  <option value="fgdc">FGDC</option>
                  <option value="sbJson">sbJson</option>
					</select>
				</div>
				<p class="guidelines" id="guide_2">
					<small>Select a Reader</small>
				</p>
			</li>

			<li id="li_3">
				<label class="description" for="element_3">Writer</label>
				<div>
					<select class="element select medium" id="element_3" name="writer">
                  <option value="html" selected="selected">HTML</option>
                  <option value="fgdc">fgdc (beta)</option>
                  <option value="iso19115_2">iso19115_2</option>
						<option value="iso19110">iso19110</option>
                  <option value="mdJson">mdJson</option>
                  <option value="sbJson">sbJson</option>
						<option value="">-none-</option>
					</select>
				</div>
				<p class="guidelines" id="guide_2">
					<small>Select a Writer</small>
				</p>
			</li>

			<li id="li_4">
				<label class="description" for="element_4">Include Empty Tags</label>
				<div>
					<select class="element select medium" id="element_4" name="showAllTags">
						<option value="false" selected="selected">False</option>
						<option value="true">True</option>
					</select>
				</div>
				<p class="guidelines" id="guide_2">
					<small>Select true or false</small>
				</p>
			</li>

			<li id="li_5">
				<label class="description" for="element_5">Input Validation</label>
				<div>
					<select class="element select medium" id="element_5" name="validate">
						<option value="none">None</option>
						<option value="normal" selected="selected">Normal</option>
						<option value="strict">Strict</option>
					</select>
				</div>
				<p class="guidelines" id="guide_2">
					<small>Select validation level</small>
				</p>
			</li>

			<li id="li_6">
				<label class="description" for="element_6">Response Format</label>
				<div>
					<select class="element select medium" id="element_6" name="format">
						<option value="auto" selected="selected">Auto</option>
						<option value="plain">Plain</option>
						<option value="json">JSON</option>
						<option value="xml">XML</option>
					</select>
				</div>
				<p class="guidelines" id="guide_2">
					<small>Select a response format</small>
				</p>
			</li>

			<li id="li_7">
				<label class="description" for="element_7">Callback Name</label>
				<div>
					<input type="text" name="callback"/>
				</div>
				<p class="guidelines" id="guide_2">
					<small>Enter a callback name to receive a JSONp response</small>
				</p>
			</li>

		</ul>

		<div class="buttons">
			<input type="hidden" name="form_id" value="759352"/>
			<input id="saveForm" class="button_text" type="submit" name="submit" value="Submit"/>
		</div>
	<% end %>

</div>
