<!DOCTYPE html>
<html>
<head>
  <%= favicon_link_tag %>
  <title>mdTranslator API</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <!-- javascript_include_tag 'application', 'data-turbolinks-track' => true -->
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render "layouts/nav" %>
  <%= yield %>
<span id="forkongithub"><a href="https://github.com/adiwg/mdTranslator-rails">Fork me on GitHub</a></span>
</body>
</html>
